<div class="navigationmenu hidden">
	<div class="navbarMenu">
		<%= link_to "https://www.instagram.com/ralphmonet/" do %>
			<i class="fab fa-instagram"></i>
		<% end %>
		<p id="toggleMenuOff">
			CLOSE<i class="fas fa-times"></i>
		</p>
	</div>
	<div class="menuoptions">
		<div class="menuoption">
			<%= link_to "VIETNAM", vietnam_path %>
		</div>
		<div class="menuoption">
			<%= link_to "JAPAN", japan_path %>
		</div>
		<div class="menuoption">
			<%= link_to "MEXICO", mexico_path %>
		</div>
		<div class="menuoption">
			<%= link_to "COLOMBIA", colombia_path %>
		</div>
		<div class="menuoption">
			<%= link_to "MOROCCO", morocco_path %>
		</div>

	</div>
</div>