<%= render "shared/hidden_navbar" %>
<div class="restofpage">
	<%= render "shared/visible_navbar" %>
	<div class="pagecontent">
		<div class="leftcolumn">
			<div class="leftTitle">
				<h2>ALEXIS MONET</h2>
			</div>
			<div class="div">
				<div class="navigationoption">
					<p>photo album1</p>
				</div>
				<div class="navigationoption">
					<p>photo album2</p>
				</div>
				<div class="navigationoption">
					<p>photo album3</p>
				</div>
				<div class="navigationoption">
					<p>photo album4</p>
				</div>
				<div class="navigationoption">
					<p>photo album5</p>
				</div>
			</div>
			<div class="leftFooter">
				<%= link_to "https://www.instagram.com/ralphmonet/" do %>
					<i class="fab fa-instagram"></i>
				<% end %>
			</div>
		</div>
		<div class="rightcolumn">

				<%= image_tag "ticket_1_derails.jpg", class: "image" %>
				<%= image_tag "ticket_2_gen.jpg", class: "image" %>
				<%= image_tag "ticket_2_der.jpg", class: "image" %>
				<%= image_tag "ticket_1_derails.jpg", class: "image" %>
				<%= image_tag "ticket_2_gen.jpg", class: "image" %>
				<%= image_tag "ticket_2_der.jpg", class: "image" %>

		</div>
	</div>
</div>
<div class="slideshow hidden">
	<div class="return">
		<p id="closeSlideshow">CLOSE <i class="fas fa-times"></i></p>
	</div>
	<div class="slides">
		<div class="slide">
			<%= image_tag "ticket_1_derails.jpg" %>
		</div>
		<div class="slide">
			<%= image_tag "ticket_2_gen.jpg" %>
		</div>
		<div class="slide">
			<%= image_tag "ticket_2_der.jpg" %>
		</div>
		<div class="slide">
			<%= image_tag "ticket_1_derails.jpg" %>
		</div>
		<div class="slide">
			<%= image_tag "ticket_2_gen.jpg" %>
		</div>
		<div class="slide">
			<%= image_tag "ticket_2_der.jpg" %>
		</div>
	</div>
</div>

<script>
	const slideshow = document.querySelector(".slideshow")
	const restofpage = document.querySelector(".restofpage")
	const images = document.querySelectorAll(".image")

	const allSlides = document.querySelectorAll(".slide");

	const slideWindow = document.querySelector(".slides")


	document.querySelectorAll(".image").forEach((image) => {
		image.addEventListener("click", (e) => {
			restofpage.classList.add("hidden")
			slideshow.classList.remove("hidden")
			for (let i=0; i< images.length; i++ ) {
				if (image === images[i]) {
					var imageIndex = i;
				}
			}
			var fullWidth = slideWindow.scrollWidth;
			slideWindow.scroll(fullWidth/(allSlides.length) * imageIndex, 0);
		})
	})
	document.querySelector("#closeSlideshow").addEventListener("click", (e) => {
		restofpage.classList.remove("hidden")
		slideshow.classList.add("hidden")
	});


	slideWindow.addEventListener("click",(e) => {
		var windowWidth = window.innerWidth;
		var fullWidth = slideWindow.scrollWidth;
		if (e["screenX"] > (windowWidth/2) && slideWindow.scrollLeft % window.innerWidth == 0) {

			if (slideWindow.scrollLeft + window.innerWidth == fullWidth) {
				slideWindow.scroll(-fullWidth,0);
			}
			else {
				slideWindow.scroll(slideWindow.scrollLeft + fullWidth/(allSlides.length), 0);
			}
		}
		else if (slideWindow.scrollLeft % window.innerWidth == 0) {
			if (slideWindow.scrollLeft == 0) {
				slideWindow.scroll(fullWidth,0);
			}
			else {
				slideWindow.scroll(slideWindow.scrollLeft - fullWidth/(allSlides.length), 0);
			}
		}
	})

	window.addEventListener("keyup", (e) => {
		var windowWidth = window.innerWidth;
		var fullWidth = slideWindow.scrollWidth;
		if (e["key"] == "Escape") {
			restofpage.classList.remove("hidden")
			slideshow.classList.add("hidden")
		}
		if (e["key"] == "ArrowRight" && slideWindow.scrollLeft % window.innerWidth == 0) {
			if (slideWindow.scrollLeft + window.innerWidth == fullWidth) {
				slideWindow.scroll(-fullWidth,0);
			}
			else {
				slideWindow.scroll(slideWindow.scrollLeft + fullWidth/(allSlides.length), 0);
			}
		}
		if (e["key"] == "ArrowLeft" && slideWindow.scrollLeft % window.innerWidth == 0) {
			if (slideWindow.scrollLeft == 0) {
				slideWindow.scroll(fullWidth,0);
			}
			else {
				slideWindow.scroll(slideWindow.scrollLeft - fullWidth/(allSlides.length), 0);
			}
		}
	})

</script>
