<div class="restofpage">
	<div class="navbar">
		<%= link_to "https://www.instagram.com/ralphmonet/" do %>
			<i class="fab fa-instagram"></i>
		<% end %>
		<h2>ALEXIS MONET</h2>
		<i class="fas fa-bars"></i>

	</div>
	<div class="pagecontent">
		<div class="leftcolumn">
			<h2>ALEXIS MONET</h2>
		</div>
		<div class="rightcolumn">
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>

				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>

				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>

		</div>
	</div>
</div>

