<div class="restofpage">
	<div class="navbar">
		ALEXIS MONET
	</div>
	<div class="pagecontent">
		<div class="leftcolumn">
			ALEXIS MONET
		</div>
		<div class="rightcolumn">
			<div class="photocolumn1">
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				
			</div>
			<div class="photocolumn2">
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
			
			</div>
			<div class="photocolumn3">
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
				<%= image_tag "ticket_2_gen.jpg" %>
				<%= image_tag "ticket_2_der.jpg" %>
				<%= image_tag "ticket_1_derails.jpg" %>
			</div>
		</div>
	</div>
</div>

